@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 255, 0.844);
}
aside{
    display: inline-flex;
    color: white;
    font-size: 15pt;
    padding-left: 95%;
    margin: -25px;
}
ul#menu{
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    display: block;
    text-align: center;
    box-shadow: 5px 5px 11px black;
}
ul#menu>li{
    display: inline-block;
    color: rgb(13, 0, 255);
    padding: 15px;
}
a{
    text-decoration: none;
    color: rgb(7, 5, 135);
    font-weight:bolder;
}
div{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3px;
    padding-bottom: 2px;
    box-shadow: 5px 2px 5px black;
}
main>h1{
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.844);
    border: 9px solid rgb(0,0, 255, 0.844);
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.164);
}
main>p{
    display: inline-block;
    margin: 10px;
}
main>img{
    display: inline-block;
    padding: 3px;
    margin-top: 17px;
    margin-left: 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.433);
    border: 3px solid rgba(255, 255, 255, 0.323);
    border-radius: 30px;
}
footer{
    background-color: white;
    display: block;
    margin: 2px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}
